* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    display: inline; /* Use inline-block to allow width and centering */

}

.element {
    background-color: rgba(84, 180, 204, 0.507);
    position: relative; /* Set the container to relative positioning */
}

ul {
    list-style-type: none;
    margin-top: 50px;
    /* display:flex;
    list-style-type: none;
    
    justify-content: space-between;
    background-color: rgba(84, 180, 204, 0.507);
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0 rgba(84, 180, 204, 0.507);
    width: 100%; 
    box-sizing: border-box;
     */
}

li {
    margin-top : 50px;
    margin-right: 50px;  /*gap the list items*/
    margin-left: 30px;
}
  
li a {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    justify-content: space-between;
    background-color: rgba(84, 180, 204, 0.507);
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0 rgba(84, 180, 204, 0.507);
    width: 100%; 
    box-sizing: border-box;
    text-align: center;
} 


.dashboard-container {
    background-image: url('/home/mohana/Downloads/photo-1513542789411-b6a5d4f31634.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.vertical-navbar {
    position: absolute;
    top: 25px;
    left: 0;
    /* background-color: rgba(255, 254, 254, 0.541); */
    width: 100%;
}

.vertical-navbar li a {
    color: black;
}


.vertical-navbar li a:hover{
    color: white;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(84, 180, 204, 0.507);
    color: #fff; /* Adjust the color to your preference */
    font-weight: bold;
    font-family: "Comic Sans MS", cursive; 
    z-index: 1; /* Ensure it's on top of other elements if needed */
}

/* Style the header sentence */
.header-sentence {
    color: aqua;
    
}
