.App {
  text-align: center;
  background-color:rgb(133, 131, 228);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  
  .label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: rgb(14, 26, 128);
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  color: rgb(136, 12, 12);
  width: fit-content;
  height: 50px;
  padding: 5px;
  font-size: 10px;
  }
  
  .success{
  display: block;
  color: green;
  width: fit-content;
  height: 50px;
  padding: 5px;
  font-size: 10px;
  }
